/* Global Styles (Affects Whole App) */
body, html {
  background: black !important;  /* Override all conflicting styles */
  color: #39ff14; /* Keep neon green text */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* Ensures all pages take full height */
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Code Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
