.comment {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
}

.avatar {
  background-color: #a8e6cf;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.liked {
  background-color: #ffccd5 !important;
  color: #d6336c;
}

.likeBtn {
  background-color: #e1f4f0;
  color: #111;
}
