.hover-bg-light:hover {
  background-color: #f8f9fa;
}

.flash-mint {
  background-color: #ccffe0 !important;
  animation: flashFade 1s ease-in-out infinite alternate;
}

@keyframes flashFade {
  from {
    background-color: #ccffe0;
  }
  to {
    background-color: #e6fff2;
  }
}
